@font-face {
  font-family: aquilone;
  src: url(/resources/aquilone-thin/aquilone-thin.otf);
}

body {
  font-family: aquilone;
}

.siteContainer {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 140px;
  background-color: rgb(244, 190, 38);
}

.dropdownMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.menuItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  width: 20%;
}

.menuItems a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: rgb(83, 78, 75);
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 1.3em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/*Add some top padding to the page content to prevent sudden quick movement*/
.sticky + .mainSection {
    padding-top: 65px;
}


.headerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
}

.headerLogo img {
  display: flex;
  height: 110px;
  width: 110px;
}

.menuNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 64px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 10px 7px -3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 10px 7px -3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 7px -3px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-decoration: none;
}

.navContainer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.navContainer ul li {
  text-decoration: none;
  padding: 15px;
}

.navContainer ul li button {
    font-family: aquilone;
  color: rgb(83, 78, 75);
  text-decoration: none;
  font-size: 1.4rem;
  border: none;
  background: none;
}

.navContainer ul li button :hover{
    color: red;
}

h2 {
  font-size: 2.3em;
}

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  height: 60vh;
}

.sectionContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-target {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

#target-1 {
  background: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 70vw;
  height: 70vh;
  padding: 5px;
  margin-top: 20px;
  display: none;
}

#target-2 {
  background: red;
  width: 70vw;
  height: 70vh;
  padding: 5px;
  margin-top: 20px;
  display: none;
}

#target-3 {
  background: rgb(255, 0, 195);
  width: 70vw;
  height: 70vh;
  padding: 5px;
  margin-top: 20px;
  display: none;
}

#target-4 {
  background: rgb(26, 255, 0);
  width: 70vw;
  height: 70vh;
  padding: 5px;
  margin-top: 20px;
  display: none;
}

#target-5 {
  background: rgb(0, 217, 255);
  width: 70vw;
  height: 70vh;
  padding: 5px;
  margin-top: 20px;
  display: none;
}

#target-6 {
  background: rgb(255, 251, 0);
  width: 70vw;
  height: 70vh;
  padding: 5px;
  margin-top: 20px;
  display: none;
}

.hide {
  display: none;
}

.cupbapMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 60vh;
}

.bibimbapMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 60vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  background-color: rgb(83, 78, 75);
  color: rgb(255, 255, 255);
}

.footerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  height: 90%;
}

.footerAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerAbout div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 1.5em;
}

.footerAbout div a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footerSocials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
}

.footerLogo img {
  display: flex;
  height: 90px;
  width: 90px;
}

.fbLogo {
  width: 40px;
}

.ueLogo {
  width: 40px;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
